html {
  box-sizing: border-box;
  background-color: #262626;
  color: white;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1{
  color: white;
  border-bottom: 4px solid white;
  padding-bottom: 6px;
  margin-bottom: 40px;
  text-align: center;
}

h3{
  color:white;
  font-size: 35px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  line-height: 85%;
}

p {
  color:white;
}

a {
  color: white;
  text-decoration: none;
}

a h3 {
  border-bottom: 2px solid white;
}

.thumbnail {
  margin: 0px;
  margin-top: 3px;
  padding: 0px;
}

div.game{
  margin:auto;
}

div.game canvas {
  padding: 0px;
}

#snake {
  margin-top: 100px;
  width: 756px;
  height: 756px;
  border: solid white 3px;
}
