html {
  box-sizing: border-box;
  background-color: #262626;
  color: white;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1{
  color: white;
  border-bottom: 5px solid white;
  margin-bottom: 30px;
}

h3{
  color:white;
  font-size: 40px;
}

p {
  color:white;
}

.thumbnail {
  margin-top: 20px;
}
