html {
  box-sizing: border-box;
  background-color: #262626;
  color: white;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1{
  color: white;
  border-bottom: 4px solid white;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

h3{
  color:white;
  font-size: 40px;
  padding: 0px;
  margin: 0px
}

p {
  color:white;
}

.thumbnail {
  margin: 0px;
  padding: 0px;
}
